App_WebReferences/SME_SERVICE/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCifInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Cif" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCifInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCifInfoResult" type="tns:ArrayOfCustomer_Class" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCustomer_Class">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Customer_Class" nillable="true" type="tns:Customer_Class" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Customer_Class">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Cif" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="cifName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="idCard" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="cifClass" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BOTID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Busi_Type" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Busi_Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="departName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="MSb">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="MSbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSbResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployee_Info">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EmpId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmployee_InfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmployee_InfoResult" type="tns:ArrayOfEmployee_Info" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEmployee_Info">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Employee_Info" nillable="true" type="tns:Employee_Info" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Employee_Info">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="EmpId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmpDept" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetCifInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetCifInfo" />
  </wsdl:message>
  <wsdl:message name="GetCifInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetCifInfoResponse" />
  </wsdl:message>
  <wsdl:message name="MSbSoapIn">
    <wsdl:part name="parameters" element="tns:MSb" />
  </wsdl:message>
  <wsdl:message name="MSbSoapOut">
    <wsdl:part name="parameters" element="tns:MSbResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmployee_InfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmployee_Info" />
  </wsdl:message>
  <wsdl:message name="GetEmployee_InfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmployee_InfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCifInfo">
      <wsdl:input message="tns:GetCifInfoSoapIn" />
      <wsdl:output message="tns:GetCifInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="MSb">
      <wsdl:input message="tns:MSbSoapIn" />
      <wsdl:output message="tns:MSbSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployee_Info">
      <wsdl:input message="tns:GetEmployee_InfoSoapIn" />
      <wsdl:output message="tns:GetEmployee_InfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCifInfo">
      <soap:operation soapAction="http://tempuri.org/GetCifInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSb">
      <soap:operation soapAction="http://tempuri.org/MSb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee_Info">
      <soap:operation soapAction="http://tempuri.org/GetEmployee_Info" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCifInfo">
      <soap12:operation soapAction="http://tempuri.org/GetCifInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MSb">
      <soap12:operation soapAction="http://tempuri.org/MSb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployee_Info">
      <soap12:operation soapAction="http://tempuri.org/GetEmployee_Info" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:2118/SME_WebService/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:2118/SME_WebService/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>